.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    height: 90px;
    border: 1px solid red;
    border-radius: 10px;
}

.link {
    font-weight: 600;
    font-size: 14px;

    color: black;
    text-decoration: none;
}

.info {
    display: flex;
    justify-content: space-between;
}

.userData {
    font-size: 12px;
    color: black;
}

.score {
    padding: 6px 12px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
